@import '../../../styles/values'
@import '../../../styles/colors'

:host
  color white
  display flex
  flex-direction column

#form-sections
  flex 1
  display flex

  .section
    flex 1
    display flex
    flex-direction column
    padding 0.5rem

    ::content section
      display flex
      flex 1
      flex-direction column
      align-items center
      justify-content center
      padding 0.5rem
      text-align center
      transition background 0.2s

      &:hover
        background fade-out(colorBlack, 20%)

nav
  box-sizing border-box
  height headerHeight
  padding 0.5rem
  align-items center

  &.mobile
    display none
  &.desktop
    display flex
    justify-content flex-end

    yi-button
      &:last-of-type
        margin 0 1rem

  button
    background colorGray2
    border none
    border-radius 3px
    color white
    font-size 1.2rem
    flex 1
    height 100%
    margin 0 0.5rem
    outline none
    padding 0 2rem

    &:hover
      background-color colorGray2 - 5%
    &:active
      background-color colorGray2 - 15%

    &[disabled]
      color colorGray2 + 16%
      &:hover, &:active
        background colorGray2

:host(.request)
  button:last-of-type
    background-color colorBlue
    &:active
      background-color colorBlue - 10%
  yi-button:last-of-type::shadow
    .btn, button
      background-color colorBlue

:host(.complain)
  button:last-of-type
    background-color colorOrange
    &:active
      background-color colorOrange - 10%
  yi-button:last-of-type::shadow
    .btn, button
      background-color colorOrange

// mobile mode
@media queryMobile
  #form-sections
    flex-direction column

    .section
      padding 0

      ::content section
        padding 0
        &:hover
          background none

  nav
    &.mobile
      display flex
    &.desktop
      display none
