template
  require(from="yi/elements/selector/yi-button")

  #form-sections
    .section.lest: content(select="section.left")
    .section.right: content(select="section.right")

  nav.mobile
    button(click.delegate="prev()", disabled.bind="currStep==0") anterior
    button(click.delegate="next()", if.bind="!inLastStep") siguiente
    button(click.delegate="done()", if.bind="inLastStep") guardar
  nav.desktop
    yi-button(click.delegate="done()", title="Guardar")
