template
  #form-sections
    .section.lest: content(select="section.left")
    .section.right: content(select="section.right")

  nav
    button(click.delegate="prev()", disabled.bind="currStep==0") previous
    button(click.delegate="next()", if.bind="!inLastStep") next
    button(click.delegate="done()", if.bind="inLastStep") done
