@require 'values'
@require 'colors'
@import 'util/scrollbar'

inputLineHeight = 1.5rem
itemsMaxWidth = 500px

#new
  background white - 15%
  color colorBlack
  display flex
  flex-direction column

  nav
    display flex
    flex-shrink 0
    @import 'util/top-bar'
    button
      background none
      border none
      margin auto
      &:active
        transform scale(0.9)

  p
    font-family 'Roboto Slab'
    font-size 0.9em

  .flex
    display flex
    flex 1
    flex-shrink 0
    > section
      flex 1
      padding 1rem
      transition background-color 0.2s
  .info, .photo
    &:focus, &:hover
      background-color white
  .flex:last-of-type
    border-top 1px solid colorGray1
    &:focus, &:hover
      background-color white
      + footer
        background-color white

  form
    display flex
    flex-direction column
    flex 1
    overflow-y auto

    input, textarea
      background transparent
      border 1px solid colorGray1
      border-radius 3px
      display inline-block
      line-height inputLineHeight
      min-height 2.4rem
      margin-top 1rem
      padding 0 0.6rem
      width 100%
      &::-webkit-input-placeholder
        font-size 1.1em

    textarea
      min-height (inputLineHeight*4)
      padding 0.4rem 0.6rem

    h2, h3
      text-transform capitalize
    h2
      font-size 1.25em
    h3
      font-size 1.2em
      font-style italic

  .info
    width 50%
    border-right 1px solid colorGray1
    figure
      border-radius 3px
      float left
      height 4.5rem
      margin-right 1rem
      margin-bottom 1rem
      overflow hidden
      padding 0.5rem
      width 4.5rem
      yi-icon
        width 100%
        height 100%
    p
      clear both

  .photo
    width 50%
    p
      margin 1rem auto
    figure
      background-color colorGray3
      background-size cover
      background-position center
      background-repeat no-repeat
      border-radius 3px
      overflow hidden
      position relative
      width 100%

      &::before
        content ''
        display block
        padding-bottom 60%

      yi-photo-button
        photoBtnSize = 4rem
        absolute left 50% top 50%
        height photoBtnSize
        margin-top -(photoBtnSize/2)
        margin-left -(photoBtnSize/2)
        width photoBtnSize
        z-index 2

  .address
    p
      margin-bottom 1rem

  .map
    display block
    mgl-map
      border 1px solid colorGray1
      border-radius 3px
      float right
      height 100%
      width 100%
      &::before
        content ''
        display block
        padding-bottom 40%
      yi-marker
        left 50%
        top 50%
        transform translate(-50%, -95%)

  // errors and buttons
  footer
    align-items flex-end
    display flex
    flex-shrink 0
    padding 1rem 1rem 1.5rem
    aside
      align-self stretch
      color colorError
      display flex
      flex 1
      flex-direction column
      justify-content center
      .error
        font-size 1.05em
    yi-button
      display inline-block
      &.save::shadow .btn
          margin 0 1rem
          transform scale(1.2)
      &.cancel::shadow
        .title
          display none
        .btn
          transform rotate(45deg)
        yi-icon::shadow .show
          stroke-width 3 !important

  // change colors based on type
  styleByType(typeColor)
    scrollbar(typeColor)
    .info figure
      background typeColor
    input, textarea
      &:focus
        border 1px solid typeColor
    yi-photo-button:focus /deep/ .btn
      box-shadow 0 0 15px typeColor
    footer .save::shadow
      button
        background-color typeColor
      &.cancel::shadow
        yi-icon::shadow .show
          stroke-line 1
        transform rotate(45deg)
      .btn
        background-color typeColor - 5%

  .request
    styleByType colorBlue
  .complain
    styleByType colorOrange
