template
  core-toolbar About

  section.about
    p.text Reportar y solicitar una obra pública nunca fue tan fácil. Con  Yo Intervengo puedes hacer un reporte de una falla en el alcantarillado, un hueco sobre la vía, la existencia de un elefante blanco o cualquier otro problema que afecte a tu comunidad. Yo Intervengo también te permitirá interactuar con tus vecinos y respaldar la solicitud de la construcción de una obra pública. ¡Empieza a reportar y respaldar con Yo Intervengo para hacer más visibles los problemas de tu comunidad! <br/><br/>Este proyecto fue desarrollado con &#9829 desde Bogotá - Colombia por:<br/><br/>OLINGUITO<br/><br/>Daniel Olano | Fullstack Dev<br/>Jorge Ovalle | Mobile Dev<br/>Roberto Sarmiento Jalkh | UX UI<br/>Daniel Suárez Pérez | Data Journalist<br/><br/>Gracias al apoyo de:
    ul.logos
        li
            img(src="../assets/wbi_logo.jpg", alt="")
        li
            img(src="../assets/hl_logo.jpg", alt="")
        li 
            img(src="../assets/icfj_logo.png", alt="")
        li
            img(src="../assets/sl_logo.png", alt="")