:host
  display block
  height 4rem
  width 100%

  *
    box-sizing border-box

form
  height 100%
  padding 0.5rem(18rem + 1rem) 0.5rem 1rem
  width 100%
  background fade-out(#ffffff, 50%)

  input
    background none
    border none
    color #ffffff
    display block
    font-size 1.5em
    height 100%
    outline none
    text-shadow 0 0 3px fade-out(black, 30%)
    width 100%
