template
  require(from="../icon/yi-icon")

  form
    label(for="search-field")
      yi-icon(icon="search")
    input(id="search-field", type="search", autofocus, placeholder="Search requests and complains made by other people")
