:host
  background fade-out(#fff, 50%)
  display block
  height 4rem
  width 100%

  *
    box-sizing border-box

form
  padding 0.5rem 1rem
  height 100%
  width 100%
  white-space nowrap

  input
    background none
    border none
    color #fff
    display inline-block
    font-size 1.5em
    height 100%
    outline none
    text-shadow 0 0 3px fade-out(black, 30%)
    width calc(100% - 3rem)

    &::-webkit-input-placeholder
      font-style italic

  label
    display inline-block
    position relative
    height 2rem
    margin-right 0.5rem
    vertical-align middle
    width 2rem
