defaultSize = 32px
:host
  display inline-block
  height defaultSize
  width defaultSize

svg
  height 100%
  width 100%

  .icon
    visibility hidden
  .show
    visibility visible

path
  fill none
  stroke white
  stroke-miterlimit 10
  stroke-linecap round
  stroke-linejoin round
