template
  require(from='yi/elements/logo/yi-logo')
    
  section.main-login
    article.logo-black
        yi-logo
    section.social-login
        p.message Participa usando tus redes sociales y ahorra tiempo
        button.button
            div.icon f
            h2 Inicia sesión con Facebook
        button.button.google
            div.icon g+
            h2 Inicia sesión con Google +
    section.mail-login
        p ¿Ya posees una cuenta? Inicia sesión
        form
            div.txt-area
                article.icon M
                input(type="email" placeholder="ejemplo@correo.com")
            div.txt-area
                article.icon P
                input(type="password" placeholder="Contraseña")
            p !Oops¡ olvide mi <a/>contraseña
            div.send
                input(type="submit" value="Iniciar sesión")
    p.register ¿Primera vez? <a>Registrate con email</a>
    
