    section.about
        width 100%
        background-color #fff
        padding 50px 20%
        margin auto
        font-family 'Roboto Slab'
        font-weight 300
        font-size 1.1em
        p.text
            max-width 700px
            margin-bottom 30px
        ul.logos
            max-width 720px
            margin-top 20px
            margin auto
            width 100%
            text-align center
            li
                margin auto
                display inline-block
                margin-bottom 10px
                img
                    heigth auto
                    max-height 120px
                    max-width 200px
                    margin auto
                    heigth auto
                    