@require 'reset'
@require 'fonts'
@require 'colors'
@require 'values'

body
  background colorBlack
  font-family 'Roboto', sans-serif
  font-weight 300

core-drawer-panel::shadow core-selector > #drawer
  z-index 999

nav[drawer]
  background colorGray1
  display flex
  flex-direction column
  overflow hidden

  core-toolbar
    background colorOrange
    display flex
    justify-content flex-end
    margin-bottom 2rem
    transition background 0.6s
    &:hover
      transition background 0.2s
      background colorOrange + 5%
    &:active
      background activeColor(colorOrange)

    @import 'util/bottom-shadow'

    yi-icon
      margin auto 6px
      transition transform 0.2s

    &:active yi-icon
      transform scale(0.95)

  &.opened
    core-toolbar
      background colorBlue
      &:hover
        background colorBlue + 5%
      &:active
        background activeColor(colorBlue)
    a i
      opacity 1

  a
    color colorGray3
    display block
    font-size 1.05em
    line-height 3em
    letter-spacing 3px
    padding 0 0.6rem
    text-transform uppercase
    text-shadow 0 0 5px fade-out(black, 80%)
    transition 0.2s
    width 100%
    white-space nowrap

    i
      cursor pointer
      font-style normal
      opacity 0
      transition opacity 0.2s

    yi-icon
      cursor pointer
      margin-right 0.6rem
      opacity 1
      vertical-align middle
      height 40px
      width 40px
      -webkit-filter drop-shadow(0 0 5px fade-out(black, 80%))
      &::shadow path.show
        transition stroke 0.2s
        stroke colorGray3

    &.active
      color white
      text-shadow 0 0 5px fade-out(white, 50%)
      yi-icon
        -webkit-filter drop-shadow(0 0 2px fade-out(white, 50%))
        &::shadow path.show
          stroke white

      &:hover
        color white
        text-shadow 0 0 7px fade-out(white, 40%)
        yi-icon
          -webkit-filter drop-shadow(0 0 3px fade-out(white, 40%))
          &::shadow path.show
            stroke white

    &:hover
      color colorGray3 + 40%
      yi-icon::shadow path.show
        stroke colorGray3 + 40%

    &:last-of-type
      margin-top auto
      margin-bottom 0.6rem

core-drawer-panel > router-view
  display block
  position relative
  width 100%
  height 100%

core-toolbar
  height headerHeight
  background none
  &::shadow .toolbar-tools
    height headerHeight

dialog
  border none
  border-radius 3px
  margin auto
  position relative
  box-shadow 0 2px 5px fade-out(black, 50%)
  &::backdrop
    background-color fade-out(colorGray1, 40%)

  button.close
    absolute right 0.5rem top 0.5rem
    background none
    border 1px solid colorGray2
    border-radius 1.3rem
    color colorGray2
    font-size 1.4rem
    height 1.3rem
    line-height 1.3rem
    width 1.3rem
    transition background 0.2s, transform 0.1s

    &:hover
      background colorGray2
      color white
    &:active
      line-height 1.4rem
      transform scale(0.9)
  p
    user-select none
    cursor default

  // beta dialog
  &#beta
    max-width 360px

    yi-icon
      background colorOrange
      border-radius 0 0 3px 3px
      display block
      height 4rem
      margin auto
      width 4rem
      padding 0.5rem

    p
      margin 1rem

      strong
        font-weight normal
      a
        color colorOrange
        font-style italic
        &::before
          content ' '
        &:hover
          text-decoration underline

// sections
#error
  p
    background white
    height 100%
    padding 3rem 1rem
    width 100%

@require 'boot'
@require 'reports'
@require 'about'
@require 'login'
