@require 'reset'
@require 'fonts'
@require 'colors'
@require 'values'

body
  background colorBlack
  font-family 'Roboto', sans-serif
  font-weight 300

core-drawer-panel::shadow core-selector > #drawer
  z-index 999

nav[drawer]
  background fade-out(colorBlack, 2%)
  display flex
  flex-direction column

  core-toolbar
    display flex
    justify-content flex-end

  a
    padding 0 1em
    display block
    width 100%
    line-height 3em
    font-size 1.2em
    letter-spacing -1px
    text-transform uppercase
    color #fff
    transition color 0.2s
    font-style italic

    &.active
      color colorOrange
      &:before
        content: '...'
  yi-logo
    margin auto
    margin-bottom 1rem

core-drawer-panel > router-view
  display block
  position relative
  width 100%
  height 100%

core-toolbar
  height headerHeight
  background none

// sections
#error
  p
    background white
    height 100%
    padding 3rem 1rem
    width 100%

@require 'boot'
@require 'reports'
@require 'about'
@require 'login'
