/* application base palette */
colorBlue = #00BCDD
colorOrange = #EF5B22
colorError = #CD0018
light-grey = #E5E5E5
pale-grey = #f5f4ee
colorGray1 = #555
colorGray2 = #666
colorGray3 = #848484
colorBlack = #353535

activeColor(baseColor)
  desaturate(baseColor, 20%) - 20%
