@import colors

header
  .tabs
    width 85%
    max-width 650px
    position relative
    .tab
      width 30%
      margin 0
      text-align center
      line-height 1.8rem
      color white
      display inline-block
      border-radius 5px 5px 0 0
      vertical-align bottom
      transition line-height .2s
      &.active
        line-height 2.3rem
      &:nth-of-type(1)
        background-color cblue
      &:nth-of-type(2)
        background-color corange
      &:nth-of-type(3)
        absolute right 0 bottom 0
        background-color cpurple
  .search
    width 100%
    margin auto
    absolute bottom -2.5rem
    transition opacity .4s
    .tabs
      margin auto
      width 90
    &.ng-enter, &.ng-leave.ng-leave-active
      opacity 0
    &.ng-enter.ng-enter-active
      opacity 1
    label
      width 100%
      height 2.5rem
      padding .2rem 0
      display block
      background-color white
      box-shadow 0 0 6px fade-out(black, 50%)
      position relative
      text-align center
      input
        width 85%
        max-width 650px
        text-align left
        border none
        margin auto
        display inline-block
        vertical-align middle
        line-height 1.9rem
  .options
    absolute top 100% left 7.5%
    width 85%
    height 4rem
    text-align center
    button
      width 50%
      max-width 325px
      height 2rem
      background linear-gradient(top, fade-out(cgray, 5%) 50%,fade-out(cgray, 15%))
      &:first-of-type
        border-radius 0 0 0 5px
        border-right 1px solid fade-out(cgray, 40%)
      &:last-of-type
        border-radius 0 0 5px 0
#home
  .map
    position absolute !important
    top 0rem
    bottom 0
    z-index 0
    width 100%
  p.list
    padding-top 7em
    font-size 1.1em
    text-align center
    color cgray
  .list
    absolute top 0 bottom 0
    width 100%
    background fade-out(white, 20%)
    padding-top 5.5rem
    overflow auto
    li
      text-align center
      border-top 1px solid white - 10%
      background white
      &:last-of-type
        margin-bottom 3rem
        border-bottom 1px solid white - 10%
      &.ng-enter-stagger, &.ng-leave-stagger, &.ng-move-stagger
        transition-delay .2s
      &.ng-enter, &.ng-leave
        transition .5s transform, .4s opacity
      &.ng-move
        transition .8s all
      &.ng-enter, &.ng-leave.ng-leave-active
        transform translateY(50px)
        opacity 0
      &.ng-enter.ng-enter-active, &.ng-leave
        transform translateY(0px)
        opacity 1
      &.ng-move
        transform translateX(80px)
        opacity 0
      &.ng-move.ng-move-active
        transform translateX(0px)
        opacity 1
.marker
  height 100%
  width 100%
  &.marker-request
    fill cblue
  &.marker-complain
    fill corange
  &.marker-pub-work
    fill cpurple
.leaflet-marker-icon
  background none
  border none
.leaflet-popup-content-wrapper, .leaflet-popup-tip
  background-color fade-out(white, 20%)
.leaflet-popup-content
  margin 0
.leaflet-popup-content [item]
  min-width 340px

footer
  absolute bottom 0 left 0
  z-index 99
  overflow hidden
  width 100%
  height 3rem
  background fade-out(cgray, 5%)
  box-shadow 0 0px 6px fade-out(black, 50%)
  white-space nowrap
  text-align center
  .button
    color fade-out(white,30%)
    height 3rem
    line-height 3rem
    background none
    border none
    display inline-block
    overflow hidden
    padding 0 5px
    font-size 0.85em
    text-align center
    position relative
    &:active
      background-color fade-out(cgray, 50%)
    &:before
      content ''
      height 2.4rem
      width 2.4rem
      display inline-block
      vertical-align middle
      margin-right 3px
      margin-right 3vw
      background-image url('../images/footer.svg')
      background-size cover
      background-repeat no-repeat
      border-radius 8px
    &:nth-of-type(2):before
        background-position -2.4rem 0
    &:nth-of-type(3):before
        background-position -4.8rem 0
    &:not(:last-of-type)
      width 40%
      width calc(50% - 2.8rem/2)
      max-width 300px
    &:nth-of-type(3)
      width 20%
      width calc(2.8rem)
      text-indent 1000px
      &:before
        absolute left .2rem top .3rem