#login
    width 100%
    background-color rgba(255, 255, 255, .98)
    font-family 'Roboto'
    font-weight 300
    font-size 1.2em
    position absolute
    overflow scroll
    section.main-login
        margin auto
        margin-top 100px
        width 700px
        text-align center
        margin-bottom 10px
        article.logo-black
            width 300px
            margin auto
            margin-bottom 50px
            img
                width 100%
                height auto
        p.message
            width 100%
            margin auto
            text-align center
            margin-bottom 10px
        section.social-login
            width 70%
            margin auto
            text-align center
            margin-top 20px
            margin-bottom 50px
            
            button.button
                box-shadow 0 2px 10px rgba(0, 0, 0, .2)
                max-width 350px
                height 60px
                border none
                line-height 60px
                outline none
                border-radius 5px
                cursor pointer
                background-color #3b5997
                color #FFFFFF
                overflow hidden
                margin 5px
                font-size 1em
                font-weight 100
                font-family 'Roboto'
                div.icon
                    width 50px
                    text-align center
                    box-shadow 2px 0px 5px rgba(0, 0, 0, .35)
                h2
                    width 300px
                    margin auto
                    margin-top - 60px
                    margin-left 30px
                &:hover
                    background-color #3b5997 - 30%
            button.google
                background-color #dc4b39
                &:hover
                    background-color #dc4b39 - 30%
            div.social-btn
                width 100%
                margin auto
                max-width 330px
                background-color #dc4b39
                height 60px
                border-radius 6px
                overflow hidden
                div.icono
                    height 100%
                    width 50px
                    line-height 60px
                    box-shadow 2px 0px 5px rgba(0, 0, 0, .35)
                    color #FFFFFF
                input
                    height 60px
                    width 280px
                    left 25px
                    top - 60px
                    position relative
                    border none
                    background-color rgba(0, 0, 0, .0)
                    font-size 1em
                    font-family 'Roboto'
                    font-weight 100
                    color #FFFFFF
                    
            div.social-btn:after
                background-color #FFF
                border solid 3px #ee5b22
                div.icono
                    background-color #ee5b22
                input
                    background-color #e5e5e5
                    
                
        section.mail-login
            width 70%
            margin auto
            text-align center
            margin-top 20px
            font-family 'Roboto'
            margin-bottom 50px
            p
                margin-bottom 10px
            form
                margin auto
                text-align center
                div.txt-area
                    box-shadow 0 2px 10px rgba(0, 0, 0, .2)
                    max-width 330px
                    height 60px
                    width 100%
                    margin auto
                    background-color #FFF
                    font-family 'Roboto'
                    overflow hidden
                    border-radius 5px
                    margin-bottom 10px
                    display flex
                    article.icon
                        flex 1
                        height 100%
                        max-width 50px
                        margin auto
                        text-align center
                        box-shadow 2px 0px 5px rgba(0, 0, 0, .35)
                        background #f4f4f4
                        color #ee5b22
                        line-height 60px
                    input
                        flex 2
                        margin auto
                        border none
                        height 100%
                        font-size 1em
                        background rgba(255, 255, 255, .0)
                        color #909090
                        font-family 'Roboto'
                        font-weight 100
                        padding-left 10px
                div.txt-area:hover
                    box-shadow 0px 0px 0px 3px rgba(238, 91, 34, 1)
                    article.icon
                        background-color #ee5b22
                        color #FFFFFF
                p
                    text-transform uppercase
                    font-size 0.8em
                    a
                        color #ee5b22
                        text-decoration underline
                div.send
                    box-shadow 0 2px 10px rgba(0, 0, 0, .2)
                    width 100%
                    background-color #ee5b22
                    height 60px
                    max-width 330px
                    margin auto
                    border-radius 6px
                    overflow hidden
                    cursor pointer
                    
                    input
                        width 100%
                        border none
                        color #FFF
                        background-color rgba(0, 0, 0, .0)
                        height 100%
                        font-family 'Roboto'
                        font-size 1em
                        font-weight 100
                div.send:hover
                    background-color #ee5b22 - 10%
                    box-shadow inset 0 2px 10px rgba(0, 0, 0, .2)
        p.register
            width 100%
            max-width 330px
            text-align center
            color #909090
            margin auto
            a
                color #ee5b22
                text-decoration underline
                                    