@import 'values'

#reports
  display flex

  core-toolbar
    absolute top 0 left 0
    z-index 1
    width 100%
    background linear-gradient(top, fade-out(black, 50%), fade-out(black, 99.9%))
    &.bottom
      background linear-gradient(bottom, fade-out(black, 50%), fade-out(black, 99.9%))
      absolute bottom 0 left 0
      top initial

  #map-area
    absolute left 0 top 0
    height 100%
    width 100%
    z-index 0

    leaflet-map
      height 100%
      width 100%
      /*tmp style*/
      display flex
      justify-content center
      align-items center

  > router-view
    flex 3
    width 100%

    yi-search-tool
      position relative
      z-index 1

  yi-card-list
    background fade-out(colorBlack, 20%)
    display flex
    flex 1
    flex-direction column
    flex-shrink 0
    justify-content space-around
    height 100%
    padding 2rem 1rem
    max-width rightPanelWidth
    min-width rightPanelWidth
    overflow-x hidden
    overflow-y auto
    z-index 2

    &::-webkit-scrollbar
      width 4px
      height 4px
    &::-webkit-scrollbar-thumb
      background fade-out(#fff, 50%)
      border-radius 2px

    yi-card
      margin 1rem auto

  yi-selector
    absolute bottom 0 right rightPanelWidth
    z-index 1
    margin 0

    &.opened
      left 0
      height 100vh

    @media queryMedium
      right 0

    &.request
      &::shadow li yi-button::shadow, yi-button::shadow
        button, .btn
          background-color colorBlue
    &.complain
      &::shadow li yi-button::shadow, yi-button::shadow
        button, .btn
          background-color colorOrange

yi-button
  &.request::shadow, &.complain::shadow
    button, .btn
      background-color colorBlue !important
  &.complain::shadow, &.complain::shadow
    button, .btn
      background-color colorOrange !important

// responsive
@import 'reports-mobile'

// Sub sections
@import 'report-detail'
@import 'report-new'
