@import 'values'
@import 'colors'

cardRadius = 8px
colorTiltedBg = #E8E8E8 + 16%

#report-detail
  // TODO: find better hack
  background-image linear-gradient(top, colorTiltedBg, colorTiltedBg)
  background-size 100% 50%
  background-position bottom
  background-repeat no-repeat
  text-align center
  min-height 100vh
  overflow-x hidden
  overflow-y auto
  position relative

  &::-webkit-scrollbar
    width 4px
    background-color fade-out(colorBlack, 30%)
  &::-webkit-scrollbar-thumb
    background-color fade-out(colorOrange, 20%)
    border-radius 2px

  main
    margin auto
    max-width 800px
    padding 0 1rem 2rem 1rem
    position relative
    width 100%
    z-index 1

  .tilted-bg
    absolute top 13rem bottom 0
    left 0
    right 0
    overflow hidden
    z-index 0

    &:before
      absolute left -50% top 0
      background-image url('assets/bg.svg')
      background-color colorTiltedBg
      border solid 5px colorTiltedBg
      box-shadow inset 0 5px 15px fade-out(black, 95%)
      content ''
      height 200%
      transform rotate(-5deg)
      transform-origin 80% center
      width 200%
      z-index 0

  nav
    align-items center
    display flex
    margin auto
    height headerHeight

    button
      width 40px
      color #ffffff
      height 40px
      cursor pointer
      background-color rgba(0, 0, 0, .0)
      border none
      font-size 1.3em
      font-weight 300
      &:hover
        color #ef5b22
    button.close
      margin auto

  ul.pics
    text-align center
    display flex
    justify-content space-between
    margin 1rem auto

    li
      border-radius cardRadius
      box-shadow 0 0 0 3pt rgba(180, 180, 180, .4)
      display flex
      height 9rem
      min-width 9rem
      margin 6pt
      overflow hidden
      width 9rem

      &.pic
        align-items center
        justify-content center

      &.gallery
        flex-wrap wrap
        img
          height  50%

      &:first-of-type
        margin-left 3pt
      &:last-of-type
        margin-right 3pt

    li.mapmask
      background-color: rgba(255, 255, 255, .0)

    @media query1200
      li:nth-of-type(3)
        display none

    @media queryMobile
      display none

  article.info-card
    width 100%
    text-align center
    background-color #FFF
    border-radius cardRadius
    box-shadow 0 2px 10px rgba(0, 0, 0, .2)
    margin 1rem auto
    position relative

    header
      text-align left
      color #FFF
      vertical-align top
      clip-path polygon(0 0, 100% 0, 100% 65%, 0 100%)
      -webkit-clip-path polygon(0 0, 100% 0, 100% 65%, 0 100%)
      border-radius cardRadius cardRadius 0 0
      padding-bottom 8px
      position relative

      > figure
        absolute top 0 left 0
        align-items center
        border-radius cardRadius cardRadius 0 0
        bottom 0
        display flex
        overflow hidden
        right 0
        z-index -1

        img
          width 100%

      section.left-side
        display inline-block
        width 70%
        height 100%
        text-shadow 0 1px 3px rgba(0, 0, 0, .95)
        h1.title
          font-size 1.6em
          padding 20px 0 20px 20px
        h3.cat-subcat
          font-size 1.3em
          padding 0 0 10px 20px
          text-transform capitalize
        h4.address-city
          font-size 1.1em
          padding 0 0 0 20px
      section.right-side
        display inline-block
        position relative
        top - 25px
        width 29%
        height 100%
        text-align right
        padding 0 5px 0 0
        margin 0 0 40px 0
        text-shadow 0 1px 3px rgba(0, 0, 0, .95)
        button
          display inline-block
          cursor: pointer
          margin-bottom 42px
          color #ffffff
          width 20px
          height 40px
          border-radius 50%
          background-color rgba(0, 0, 0, .0)
          border none
          font-size 1.3em
          font-style italic
          &:hover
            color #ef5b22

        i
          display inline-block
          font-size 15px
          width 100%
          padding-right 10px

    .content
      display flex
      padding 1rem

      .description
        font-size 1.1em
        font-family 'Roboto Slab'
        font-weight 100
        flex 1
        text-align left

      aside
        border-left solid 1px #e5e5e5
        text-align right
        flex-shrink 0
        li
          margin 1rem
          white-space nowrap

  p.wiki-text
    text-align center
    font-size 1.1em
    margin 1.6rem auto
    color colorBlack

    a
      color colorOrange
      margin-left 0.5em
      white-space nowrap

  section.tab-card
    background-color #FFF
    border-radius cardRadius
    overflow hidden
    text-align left
    vertical-align text-top
    box-shadow 0 2px 10px rgba(0, 0, 0, .2)
    min-height 20rem

    nav.tabs
      display inline-block
      ul
        width 50px
        border-right solid 1px #e5e5e5

        li
          height 50px
          width 100%
          display inline-block
          border-bottom solid 1px #e5e5e5
          text-align center
          line-height 50px
          background-color #fff
          cursor pointer
          &:hover
            background-color #e5e5e5
            color white
            border-bottom none

        li.history
          background-color #ef5b22
          color #fff
          border-bottom none

    section.history-card
      display inline-block
      position relative
      text-align left
      vertical-align top
      margin 10px
      margin-top 15px
      h2.title
        color #ef5b22
        font-size 1.3em
        margin-bottom 30px
