@require 'values'

#reports
  display flex

  > router-view
    flex 1

  yi-card-list
    height 100%
    width rightPanelWidth
    z-index 2

  @media queryMedium
    flex-direction column

    yi-card-list
      width 100%
      height bottomPannelMinHeight


  // Sub sections
  @import 'reports/reports-main'
  @import 'reports/report-detail'
  @import 'reports/report-new'
