@import 'values'

@media queryMobile
  #reports
    flex-direction column

  yi-card-list
    flex 1
    flex-direction row
    max-width 100%
    min-height bottomPannelMinHeight
    padding 1rem
    width 100%
    overflow-x auto
    overflow-y hidden

    yi-card
      margin auto 1rem
