@import colors

body
  perspective 100px
  overflow hidden
  background cgray - 15%
  *
    font-family 'roboto-light'
h1, h2, h3
  font-family 'roboto-medium'
  color cgray
h1
  color white

::-moz-placeholder
  font-style italic
::-webkit-input-placeholder
  font-style italic

.error
  color #ca2d11
  font-size .9em
  text-align center

body > section
  absolute left 0 top 3rem
  background white
  bottom 0
  width 100%
  overflow-x hidden
  transition all .7s
  &.ng-leave
    z-index 98
    transform translateZ(0px)
  &.ng-leave.ng-leave-active
    transform translateZ(-30px)
    opacity 0.1
  &.ng-enter
    z-index 99
    transform translateY(100%)
    box-shadow 0 -2px 10px fade-out(black, 60%)
  &.ng-enter.ng-enter-active
    box-shadow 0 0 3px fade-out(black, 60%)
    transform translateY(0)

#not-found
  p
    color cgray
    text-align center
    margin 2em 0

button
  border none
  background none
  color white

header
  width 100%
  height 3rem
  fixed top 0 left 0
  background fade-out(cgray,5%)
  z-index 999
  color white
  .title-bar
    height 3rem
    line-height 3rem
    h1
      text-align center
    .l-btns
      absolute left 0 top 0
      display inline-block
      height 100%
      button
        width 2.6rem
        position relative
        margin 0
        height 100%
      .back
        overflow hidden
        text-indent 1000px
        &:before
          content ''
          display block
          text-indent 0
          absolute left 0 top 0
          font-family 'FontAwesome'
          font-size 2em
          height 100%
          width 100%
          line-height 3rem

.item
  width 100%
  padding .5rem
  font-size 1rem
  text-align left
  margin auto
  max-width 650px
  clearfix()
  a:first-child
    float left
    height 4.5rem
    width 4rem
    background linear-gradient(top, cgray+20%, cgray+10%)
    border-radius 5px
    overflow hidden
    margin-right .8rem
  h3
    line-height 1
    font-size 1.1em
    font-weight normal
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
  >i
    color white - 30%
    font-size .9em
    vertical-align middle
    line-height 1.5rem
  .buttons
    white-space nowrap
  button
    border-radius 5px
    height 1.8rem
    width 22%
    width unquote("calc((100% - 4.8rem - 10px) *0.3)")
    &:before
      font-family 'FontAwesome'
      margin-right .6em
    &:not(:first-of-type)
      margin-left 5px
    &.join
      width 32%
      width unquote('calc((100% - 4.8rem - 10px) *0.4)')
      background cgray
    &.like
      background cblue
      &:before
        content ''
    &.dislike
      background corange
      &:before
        content ''


/*new for*/
#new
  color gray
  overflow-y auto
  /*text-align center*/
  label
    height 2rem
    line-height 2rem
    text-align center
    color white
    display inline-block
    border-radius 5px
    overflow hidden
    margin .8rem 0
    background cgray
  input[type="radio"]
    absolute top 0 left -9999px
    z-index -1
    visibility hidden
    &:checked+label:first-of-type
      background cblue
    &:checked+label:last-of-type
      background corange
  textarea
    height 5em
  input
    line-height 1.5em
  input, textarea
    padding 5px 10px
    border-radius 5px
    border 1px solid white - 15%
    border-top 1px solid white - 8%
    &:focus
      box-shadow 0 0 4px white - 12%
  input, textarea, p
    width 100%
    display inline-block
  .small
    width 40%
  .small.right
    margin-left 5%

  button[type="submit"]
    width 85%
    border-radius 5px
    height 2.2rem
    display block
    margin .5em auto 2em

button
  &.request
    background cblue
  &.complaint
    background corange
  &.pub-work
    background cpurple


#new, #detail, #pub-work
  h3
    text-transform capitalize
  p
    color gray+8%
    text-align justify
    margin-bottom .5em !important
    margin-top .5em !important
  .info
    font-size 0.85em
    font-style italic
  fieldset, article
    padding 1rem 0
    text-align center
    &:not(:last-of-type)
      border-bottom 1px white - 10% solid
    > p, .photos, input, textarea, h3
      text-align left
      width 85%
      margin .5em auto
  .photos
    margin-top 1em
    background linear-gradient(top, cgray+40%,cgray+20%)
    border-radius 8px
    height 120px
    position relative
    &:before
      content ""
      font-family 'FontAwesome'
      font-size 2.5em
      display block
      text-align center
      color white
      absolute left 0 right 0
      height 100%
      line-height 120px
  .map
    width 100%
    height 25vh
    min-height 16em
    margin-bottom 1em

  .work
    p
      line-height 1.1em
    .val
      color cgray
      float right
      font-style normal
    strong
      font-weight bold
      font-size 0.9em
      &.important
        font-size 1.2em
#detail, #pub-work
  button.follow
    float right
    font-size .9em
    padding .2em 1em
    border-radius 5px
    margin-right 7.5%
    margin-top -.3em

/* Profile */
#profile
  text-align center
  .banner
    margin auto
    display inline-block
    width 90%
    max-width 400px
    padding 1em
    clearfix()
    figure
      height 90px
      width 90px
      background cgray + 30%
      overflow hidden
      border-radius 100px
      float left
    h2
      font-size 1.7em
    p
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
    button
      padding .2em .5em
      border-radius 5px
      background corange
      margin .5em 0 .2em
      &:disabled
        background-color cgray+50%
  .tabs
    width 100%
    background fade-out(cgray,5%)
    text-align center
    .tab
      border-radius 0
      width 33.33333333%
      max-width 216.6px
      display inline-block
      line-height 2.5em
      color white
      border-right 1px solid white
      &:nth-of-type(1)
        border-left 1px solid white
      &:nth-of-type(1).active
        background cblue
      &:nth-of-type(2).active
        background corange
      &:nth-of-type(3).active
        background cpurple

  .info
    padding 2em
    color gray

/*login and register*/
#start
  top 0
  background-color cblue - 20%
  background linear-gradient(bottom, cpurple 20px, corange 21px,corange 31px, cblue - 18% 32px,cblue - 16%)
  padding 0 2rem
  padding 0 10vw
  .logo
    margin 2em auto
    text-align center
    h1
      color fade-out(white,5%)
      font-style italic
      font-size 1.2em
      font-size 4vh
      font-family 'roboto-regular'
      text-shadow 0 1px 3px fade-out(cgray,30%)
    &:before
      content ''
      display inline-block
      background url('../images/footer.svg')
      background-repeat no-repeat
      background-size cover
      margin-bottom 1em
      width 6rem
      width 20vh
      height 6rem
      height 20vh

    @media only screen and (min-device-width: 600px)
      margin-top 3em
      h1
        font-size 1.4em
        font-size 4vh
      &:before
        width 11rem
        width 20vh
        height 11rem
        height 20vh
  form
    text-align center
    color fade-out(white,10%)
  input
    display block
    margin-top .3em
    width 100%
    border none
    border-radius 5px
    box-shadow 0 0 5px fade-out(black,50%) inset
    padding .5rem 1em
    font-size 1rem
  label
    text-align left
    display block
    font-size .8em
    font-style italic
    margin .6em auto
    max-width 500px
    text-indent 2px
    overflow hidden
    transition .35s
    &.ng-hide-add.ng-hide-add-active, &.ng-hide-remove
      opacity 0
      transform scale(0)
    &.ng-hide-add, &.ng-hide-remove.ng-hide-remove-active
      opacity 1
      transform scale(1)

  .switch
    display block
    margin-top 1em
    text-decoration underline
  button
    margin 1rem auto 3rem
    background corange
    padding .6rem 2.4rem
    border-radius 5px
    border none