rightPanelWidth = 22rem
bottomPannelMinHeight = 14rem
headerHeight = 46px
leftPanelWidth = 256px
btnSize = 2.8rem

queryMobile = 'only screen and (max-width: 640px)'
queryMedium = 'only screen and (max-width: 999px)'
query1200 = 'only screen and (max-width: 1200px)'
