rightPanelWidth = 300px
bottomPannelMinHeight = 14rem
headerHeight = 48px
leftPanelWidth = 256px
btnSize = 2.8rem
navWidthNarrow = 60px

queryMobile = 'only screen and (max-width: 640px)'
queryMedium = 'only screen and (max-width: 999px)'
query1200 = 'only screen and (max-width: 1200px)'
