leaflet.map(center="mapCenter", defaults="mapDefaults", markers="markers")

ul.list(ng-show="show.list && filteredItems.length")
    li(ng-repeat="it in filteredItems = ( items | filter:byType | filter:{name:q.name}) track by it.id", item="it")
p.list(ng-show="show.list && !filteredItems.length") No se encontro ningún elemento

footer(ng-if="inHome()")
    a.button(href="#/new", title="Nuevo") Nuevo Reporte
    a.button(href="#/profile", title="Perfil") Mi Perfil
    a.button(href="#/info", title="Información") Informacion