form
    label E-Mail
        input(type="email",placeholder="E-Mail")
    label Contraseña
        input(type="password",placeholder="Contraseña")
    label
        input(type="checkbox")
        | Recordar contraseña