.banner
    figure: img()
    h2 Pepito Perez
    p email@domain.com
    button modificar perfil

tabs(active="")
ul: li(ng-repeat="i in items", item="i")
p(ng-hide="items") No hay reportes o obras seguidas por tí