.banner
    figure: img(ng-src="{{ user.picture }}")
    h2 {{ user.name }}
    p {{ user.email }}
    button(disabled) modificar perfil

tabs(active="type")
ul: li(ng-repeat="i in filteredItems = (user.followed | filter:byType) track by i.id", item="i")
p.info(ng-hide="user.followed.length") No hay reportes u obras seguidas por tí.
p.info(ng-show="filteredItems.length==0&&user.followed.length!=0") Cambia tu criterio de selección