:host
  display inline-block

:host(.alt)
  .marker-box
    fill #00bcdd
  .marker-tip
    fill #00a6c2
  .marker-inner-box
    fill #00bcdd

.marker-box
  fill #e35620
  transition 0.4s fill
.marker-tip
  fill #c44b1b
  transition 0.4s fill
.marker-inner-shadow
  fill #000
  fill-opacity 0.25
.marker-inner-box
  fill #ef5b22
  transition 0.4s fill