template
  require(from="yi/elements/card/yi-card-list")
  require(from="./converters/search-filter")

  //- reports sub-sections go here
  router-view(id="${activeSubSection}")

  yi-card-list(ref="list", reports.bind="reports | search:query")
