header
    nav
        button.previous Atrás
        button.close X
        button.next Siguiente
    ul
        li.mapmask
            img(src="http://lorempixel.com/output/city-q-c-200-200-9.jpg", alt="")
        li.pic
            img(src="http://lorempixel.com/output/city-q-c-200-200-9.jpg", alt="")
        li.pic
            img(src="http://lorempixel.com/output/city-q-c-200-200-9.jpg", alt="")
        li.gallery
            img(src="http://lorempixel.com/output/city-q-c-200-200-9.jpg", alt="")

article.info-card
    header
        section.left-side
            h1.title Puente Calle 33 con Av. López a ver que tal sale muy largo
            h3.cat-subcat CATEGORÍA &gt; SUBCATEGORÍA
            h4.address-city Calle 57 # 12- 84        Bogotá - Colombia
        section.right-side
            button.alert Denunciar
            i.state Estado del reporte
    section.info-card-bottom
        article
            p.description Puente en mal estado, cuando no han pasado ni siquiera seis meses de terminada la obra. El estado de este puente pone en peligro la seguridad de niños que a diario lo usan para ir al colegio.
        aside
            ul
                li.backed Respaldos 199K
                li.commented Comentarios
                li.shared Compartido 025

section.down

    p.wiki-text Para lograr un mayor impacto asocia este reporte a un contrato. Enlazar a Wiki

    section.tab-card
        nav.tabs
            ul
                li.history H
                li.links E
                li.comments C
                li.more +
        section.history-card
            h2.title Historial
            yi-history Módulo del historial



