template
  import(from="app/elements/search/yi-search-tool")
  import(from="app/elements/selector/yi-selector")
  import(from="app/elements/selector/yi-button")

  yi-search-tool

  //- create report
  yi-selector(icon="add")
    yi-button.request(icon="request", title="request")
      yi-button.request(icon="fuu", title="mobility")
      yi-button.request(icon="fuu", title="buildings")
      yi-button.request(icon="fuu", title="security")
      yi-button.request(icon="fuu", title="public services")
      yi-button.request(icon="fuu", title="environment")
      yi-button.request(icon="fuu", title="other")

    yi-button.complain(icon="complain", title="Complain")
      yi-button.complain(icon="fuu", title="mobility")
        yi-button.complain(icon="fuu", title="Tunnel")
        yi-button.complain(icon="fuu", title="Crossing")
      yi-button.complain(icon="fuu", title="buildings")
      yi-button.complain(icon="fuu", title="security")
      yi-button.complain(icon="fuu", title="public services")
      yi-button.complain(icon="fuu", title="environment")
      yi-button.complain(icon="fuu", title="other")
