template
  require(from="./yi-button")

  section: content(select="yi-button")

  nav
    yi-button#main(click.trigger="toggle()", title="Crea un nuevo reporte", icon="plus")
    ul#btns-list
      li(repeat.for="btn of selection")
        yi-button(click.trigger="$parent.navBtnClicked($event)", title="${btn.title}", icon="${btn.icon}")
