:host
  display inline-block

input[type=file]
  visibility hidden
  position absolute
  z-index -1

yi-button
  display inline-block
  height 100%
  width 100%

  &::shadow
    .btn
      height 100%
      width 100%
    .title
      display none
