template
  require(from="../selector/yi-button")

  yi-button(icon="picture", title="${title}", click.delegate="inputFile.click()")
  input(type="file", accept="image/*", change.delegate="fileChosen()")
