doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1, width=device-width")
    //- include polymer web-components
    link(rel="import",href="polymer-elements.html")
    //- application main style
    link(rel="stylesheet",href="style.css")

  body(aurelia-app="yi/bootstrap")
    script(type="text/javascript",src="vendor/system.js")
    script(type="text/javascript",src="config.js")
    if 'production' == process.env.NODE_ENV
      script(type="text/javascript",src="build.js")
    script(type="text/javascript").
      System.import('aurelia-bootstrapper').catch(console.error.bind(console));
