doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1, width=device-width")
    //- application main style
    link(rel="stylesheet",href="style.css")
    //- include polymer web-components
    link(rel="import",href="elements.html")

  body(aurelia-app="yi/app")
    script(type="text/javascript",src="vendor/system.js")
    script(type="text/javascript",src="config.js")
    script(type="text/javascript").
      System.import('aurelia-bootstrapper').catch(console.error.bind(console));
