// Include polymer web components used by the application
link(rel='import', href='/vendor/bower/mapbox-gl-map-element/mgl-map.html')
link(rel='import', href='/vendor/bower/paper-drawer-panel/paper-drawer-panel.html')
