colorBlue = #00BCDD
colorOrange = #EF5B22

:host
  background-color #FFFFFF
  border-radius 5px
  flex-shrink 0
  height 165px
  min-width 260px
  max-width 400px
  overflow hidden
  box-shadow 0 2px 5px rgba(0, 0, 0, 0.5)
  *
    margin 0
    box-sizing border-box

header
  display flex
  height 5rem
  width 100%
  cursor pointer

  &:hover
    figure.title
      figcaption
        background linear-gradient(top,rgba(0, 0, 0, 0.3),rgba(0, 0, 0, .9))
    .category
      background-color: #e35620 - 20%

  figure
    display inline-block
    flex 2
    height 100%

    &.category
      display flex
      flex 1
      svg
        margin auto

    &.title
      color #000
      overflow hidden
      padding 1rem 0.8rem
      position relative

      img
        left 0
        position absolute
        top 0
        z-index 0
      figcaption
        background linear-gradient(top,rgba(0, 0, 0, 0.1),rgba(0, 0, 0, .6))
        color #FFFFFF
        font-weight 200
        height 100%
        left 0
        top 0
        padding 0.9rem 0 0 0.7rem
        position absolute
        width 100%
        text-shadow 0 1px 3px rgba(0, 0, 0, .75)
        z-index 1

        h1
          font-size 12pt
          font-weight 100
          display -webkit-box
          -webkit-line-clamp 2
          -webkit-box-orient vertical
          height 24pt
          overflow hidden

        h2
          font-size 10pt
          font-weight 200
          padding-top 0.5rem

    .yi-card-icon
      fill none
      stroke #ffffff
      stroke-width 2

.description
  font-size 12pt
  font-weight 100
  display -webkit-box
  height 34px
  margin 10px
  overflow hidden
  -webkit-line-clamp 2
  -webkit-box-orient vertical

.backups
  background-color #e5e5e5
  cursor pointer
  height 31px
  text-align center
  line-height 30px

  &:hover
    color #FFFFFF

// stlyes by type
.complain
  figure.category,
  ~ .backups:hover
    background-color colorOrange
.request
  figure.category,
  ~ .backups:hover
    background-color colorBlue




