@import '../../../styles/values'
@import '../../../styles/colors'
@require '../../../styles/util/scrollbar'

cardWidth = 245px

:host
  background colorGray1
  display flex
  flex-direction column

.sort
  @import '../../../styles/util/top-bar'
  display flex

  button
    border none
    background none
    flex 1
    height 100%
    outline none
    padding 0

    yi-icon
      height 100%
      transform scale(0.8)
      &::shadow
        path
          transition 0.3s
          stroke colorGray3
    &:hover
      yi-icon::shadow
        path
          stroke colorGray3 + 40%

    &.active
      yi-icon
        -webkit-filter drop-shadow(0 0 3px fade-out(white, 50%))
        filter drop-shadow(0 0 3px fade-out(white, 50%))
        &::shadow path
          stroke white

section
  bottom 0
  flex 1
  display flex
  flex-direction column
  justify-content flex-start
  overflow auto
  z-index 0
  scrollbar()

  .card-highlight
    border-bottom 1px dashed fade-out(white, 60%)
    display flex
    flex-shrink 0
    padding 0.8rem 0
    position relative
    &:last-of-type
      border-bottom none
    &:before
      absolute top 0 left 0
      border-radius 0 4px 4px 0
      content ''
      display block
      height 100%
      width 0px
      transition width 0.3s
    &.request::before
      background-color colorBlue
    &.complain::before
      background-color colorOrange
    &.active
      &:before
        width 5px
      yi-card
        transform scale(1.06)
  yi-card
    margin auto
    transition transform 0.3s

// mobile
@media queryMedium
  .sort
    display none
  section
    flex-direction row
    -webkit-overflow-scrolling touch
    yi-card
      margin auto 0.6em
      &:first-of-type
        margin-top auto
        margin-left calc(50vw - 122px)
      &:last-of-type
        margin-bottom auto
        margin-right calc(50vw - 122px)
