@import '../../../styles/values'
@import '../../../styles/colors'

:host
  background fade-out(colorGray1, 15%)
  display box
  position relative

.sort
  absolute top 0 left 0
  display flex
  background colorGray1
  width 100%
  height headerHeight

  @import '../../../styles/util/bottom-shadow'

  button
    border none
    background none
    flex 1
    height 100%
    outline none
    padding 0

    yi-icon
      height 100%
      transform scale(0.8)
      &::shadow
        path
          transition 0.3s
          stroke #7f7f7f
    &:hover
      yi-icon::shadow
        path
          stroke white

    &.active
      yi-icon::shadow path
        stroke white
        filter url(#drop-shadow)

section
  absolute top headerHeight left 0
  bottom 0
  right 0
  display flex
  flex-direction column
  overflow auto
  &::-webkit-scrollbar
    width 4px
    height 4px
  &::-webkit-scrollbar-thumb
    background fade-out(#fff, 50%)
    border-radius 2px
  .container
    display flex
    flex-direction column
    justify-content space-around
    height 100%
    padding 1rem
    min-height -webkit-min-content
    min-height -moz-min-content
    min-height min-content


.container content::content yi-card
  margin 0.7rem auto
  width 100%

// mobile
@media queryMedium
  section
    flex-direction row
    min-height bottomPannelMinHeight
    justify-content center
    -webkit-overflow-scrolling touch

  .container
    flex-direction row
    height auto
    justify-content space-between
    padding 1rem
